*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body {
     
    
    background: #dcdcdc;
    
   

}

.card-container{
width: 50%;
display: flex;
flex-direction: row;
box-shadow:0px 1 px 10px rgba(0,0,0,0.2);

}

.card{
   
    margin:20px;
    display: flex;
    flex-direction: row;
    border-radius:6px;
    overflow: hidden;
    background: #fff;
    box-shadow:0px 1 px 10px rgba(0,0,0,0.2);
    gap: 4px;

}
.card-contenido{
    text-align: center;
}
.card img {
    width: 100%;
    height: 100%;
}

.item-list 
{
    display: flex;
    flex-direction: row;
   
    gap:0
}

.botones {
display: flex;
flex-wrap: wrap;
align-content: center;
justify-content: center;
}

.botonAdd{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 0.5px;
}

.boton-restar{

   margin-bottom: 1rem;
   margin-right: 1rem;
   padding: 5px;
}

.boton-sumar{
   
    margin-bottom: 1rem;
    margin-left: 1rem;
   padding: 5px;
}

.cardDos{
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;

}

.cardDos img{
    width: 700px;
    display: inline-block;
    margin-left: 10rem;
    align-content: center;

}